﻿
body{
    background-color:black;
    background-image:url(../Content/images/239H.jpg);
}
@font-face {
    font-family: 'goodtime';
    src: url('../fonts/goodtime.ttf') format('truetype');
}
#box1, #box2, #box3, #box4{height:250px; color:black;}

.metal{
background: -webkit-radial-gradient(center, circle farthest-corner, rgba(255,255,255,0) 50%, rgba(200,200,200,1)), -webkit-radial-gradient(center, circle, rgba(255,255,255,.35), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 21%), -webkit-radial-gradient(center, circle, rgba(0,0,0,.2), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 21%), -webkit-radial-gradient(center, circle farthest-corner, #f0f0f0, #c0c0c0);
background:-moz-radial-gradient(center, circle farthest-corner, rgba(255,255,255,0) 50%, rgba(200,200,200,1)), -moz-radial-gradient(center, circle, rgba(255,255,255,.35), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 21%), -moz-radial-gradient(center, circle, rgba(0,0,0,.2), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 21%), -moz-radial-gradient(center, circle farthest-corner, #f0f0f0, #c0c0c0);
background: radial-gradient(center, circle farthest-corner, rgba(255,255,255,0) 50%, rgba(200,200,200,1)), radial-gradient(center, circle, rgba(255,255,255,.35), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 21%), radial-gradient(center, circle, rgba(0,0,0,.2), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 21%), radial-gradient(center, circle farthest-corner, #f0f0f0, #c0c0c0);
background-size: 100% 100%, 10px 10px, 10px 10px, 100% 100%;
background-repeat: no-repeat, repeat, repeat, no-repeat;
background-position: top center, 1px 1px, 0px 0px, top center;
}

.back-text{
   color:red;
font-family: 'goodtime';
}
.container {
    padding: 10px;
    margin: 0 auto;
}

.back {
    background-color: black;
    border-radius:10px;
     border:5px solid black;
     font-size:10px;
}
.front {
    background-color: gray;
    border-radius:10px;
     border:5px solid black;
}

#Front p {
    padding-top:90px;
    font-size: 2.5em;
    text-align: center;
     font-family: goodtime;
}
#Back p {
    padding-top:70px;
    font-size: 2em;
    text-align: center;
}
#start{
 display:inline;
    padding-top:20px;
    margin-left:2%;
    font-size: 2em;
   
}
#stop{
 display:inline;
     padding-top:20px;
    margin-left:2%;
    font-size: 2em;
   
}
#cd-time {
    font-size: 2em;
    text-align: center;
     margin-top:10px;
}
#cd-seconds {
    font-size: 2em;
    text-align: center;
    margin-top:20px;
}

#date {
    font-size: 2em;
    text-align: center;
    font-family: 'goodtime';
    margin-top:10px
}
.time{
    color:red;
font-weight:bold;
font-family: 'goodtime';
font-size:2em;
}
#datePicker{
    width:150px;
}
.clock-ul {
    margin: 0 auto;
    padding: 0px;
    list-style: none;
    text-align: center;
    color:red;
}

.clock-ul li {
    display: inline;
    font-size: 3em;
    text-align: center;
}
#filler
{
    padding:0;
}
 @media screen and (max-width: 400px) {

       #Front p {
    padding-top:90px;
    font-size: 1.5em !important;
    text-align: center;
     font-family: 'goodtime';
}

    }