﻿body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}

h1 {
    color: Black;
    font-family: 'Brush Script MT', cursive;
    font-size: 45px;
    font-weight: 300;
}

article {
    text-align: center;
    padding: 40px 0;
    max-width: 640px;
    margin: 0 auto;
    opacity: 0;
}

.header-box {
    position: relative;
    height: 685px;
    background-image: url(/Content/images/41.jpg);
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    overflow: hidden;
}

.midd-div {
    height: 100px;
    width: 30%;
    position: absolute;
    top: 59%;
    left: 5%;
    font-size: 25px;
}

    .midd-div h1, .back-div h1, .midd-div p, .back-div p {
        color: White;
        text-align: center;
        font-family: 'Brush Script MT', cursive;
    }

/*.fore-div{
                display: none;
                width: 960px;
                height: 733px;
                background-image: url(islam.jpg);
                    background-repeat: no-repeat;
                    background-position: right bottom;
                position: absolute;
                    left: 62%;
                    top: 280px;
                margin-left: -480px;
                opacity: .5;
            }*/

.back-div h1 {
    font-size: 40px;
}

.back-div {
    width: 30%;
    height: 298px;
    background-position: top left;
    background-repeat: no-repeat;
    position: absolute;
    left: 100%;
    margin-left: -33%;
    top: 23%;
    font-size: 22px;
}

.row {
    margin: 5px 0;
    text-align: center;
    position: relative;
}

img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    -webkit-transform: scale(1.04);
    -moz-transform: scale(1.04);
    -ms-transform: scale(1.04);
    -o-transform: scale(1.04);
    transform: scale(1.04);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}



.image-container {
    width: 100%;
    height: 320px;
    margin: 5px auto;
    position: relative;
    overflow: hidden;
    border: 5px solid black;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    opacity: 0;
}

    .image-container a:hover img {
        -webkit-filter: grayscale(0%);
        -moz-filter: grayscale(0%);
        -ms-filter: grayscale(0%);
        -o-filter: grayscale(0%);
        filter: grayscale(0%);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }

.image-text {
    position: absolute;
    top: 270px;
    left: 25px;
    font-size: 25px;
    font-family: 'Brush Script MT', cursive;
    color: white;
    text-decoration: none;
    opacity: 0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    z-index: 15;
}

.image-container a:hover .image-text {
    opacity: 1;
    top: 250px;
    z-index: 15;
}



.shadow-div {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: Black;
    z-index: 10;
    opacity: 0;
}

.image-container a:hover .shadow-div {
    opacity: .3;
}

/*.arrow-up{
                position: fixed;
                    left: 50%;
                    margin-left: -24px;
                    top: 85%;
            
                color: #27A349;
                    font-size: 55px;
                cursor: pointer;
                opacity: 0;
                -webkit-transition: all 1s ease-in-out;
                    -moz-transition: all 1s ease-in-out;
                    -ms-transition: all 1s ease-in-out;
                    -o-transition: all 1s ease-in-out;
                    transition: all 1s ease-in-out;
            }*/

.arrow-up {
    z-index: 13;
    position: fixed;
    right: 50%;
    margin-right: -42px;
    top: 90%;
    width: 85px;
    height: 45px;
    background-color: #005682;
    color: #dddddd;
    text-align: center;
    padding: 10px;
    font-size: 15px;
    font-family: arial;
    border-radius: 5px;
    opacity: 0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

#arrow-up:hover .arrow-up {
    opacity: 1 !important;
}

.arrow-down {
    position: absolute;
    left: 50%;
    margin-left: -24px;
    top: 85%;
    font-size: 55px;
    color: white;
    text-align: center;
    cursor: pointer;
    -webkit-transition: color 1s ease-in-out;
    -moz-transition: color 1s ease-in-out;
    -ms-transition: color 1s ease-in-out;
    -o-transition: color 1s ease-in-out;
    transition: color 1s ease-in-out;
}

.login-link {
    position: fixed;
    right: 0;
    top: 7px;
    width: 85px;
    height: 45px;
    background-color: #333;
    color: White;
    text-align: center;
    padding: 10px;
    font-size: 17px;
    font-family: arial;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    opacity: 0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

    .login-link:hover {
        background-color: #27a349;
        opacity: 1 !important;
    }

    .login-link a {
        text-decoration: none;
        color: White;
    }

@media (max-width: 991px) and (min-width: 680px) {
    .image-container {
        width: 45%;
        height: auto;
        float: left;
        margin-left: 3.5%;
    }

    .image-text {
        font-size: 1.5rem;
        top: 90%;
        z-index: 15;
        left: 2%;
    }

    .image-container a:hover .image-text {
        opacity: 1;
        top: 80%;
    }
}

@media (max-width: 679px) {
    .image-container {
        width: 100%;
        height: auto;
    }

    .image-text {
        font-size: 1.5rem;
        top: 90%;
        z-index: 15;
        left: 2%;
    }

    .image-container a:hover .image-text {
        opacity: 1;
        top: 80%;
    }
}
