﻿* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
}

.main-container {
    background-color: black;
    padding: 70px 0;
    margin: 0;
    position: fixed;
    top: -400px;
    width: 100%;
    height: auto;
    opacity: .3;
    transition: opacity .3s, top .3s ease-in-out;
    z-index: 10;
}

.main-container:hover {
    opacity: .9;
}

.nav {
    list-style: none;
}

.nav li {
    text-align: center;
}

.nav li:hover div {
    background-color: #111;
    color: rgba(255,255,255,1);
}

.nav li a {
    padding: 0;
    text-decoration: none;
    /*color: black;*/
    font-family: 'Lato', Tahoma, serif;
    font-weight: normal;
}

.nav li a div {
    padding: 15px 30px;
    color: rgba(255,255,255,0.6);
    font-size: 180%;
    text-transform: uppercase;
    position: relative;
}

.page-name, .log-in {
    position: absolute;
    bottom: 0;
    padding: 20px;
    font-size: 1.5em;
    font-family: 'Limelight', 'Lato', serif, sans-serif;
    font-weight: 700;
    color: red;
    text-transform: uppercase;
}
.page-name {
    float: left;
    right: 0;
    transition: opacity .5s;
}
.log-in {
    float: left;
    left: 0;
    transition: transform .3s;
}

.log-in:hover {
    float: left;
    left: 0;
    transform: scale(1.1);
}

.active-page {
    color: red !important;
}

.active-menu {
    top: 0;
    opacity: .8;
}

.menu-button {
    font-size: 38px;
    color: #ff6a00;
    position: absolute;
    left: 50%;
    margin-left: -19px;
    bottom: 15px;
    cursor: pointer;
    transition: left 1s;

}

@media (max-width: 390px){
    .page-name{
        opacity:0;
    }

    .menu-button{
        left:90%;
    }
}