﻿<div class="row">
    <div class="col-md-12 col-xs-12">
        <h2>Error</h2>
        <div>
            <p>
                In the normal circumstances, you should not see this page. You were beeing sent here because
                you tried to access a protected resourse without beeing logged-in. Or you tried to send some malicious
                code to the server, in that case, naughty naughty!
            </p>

            <p>
                If you think this was due to a error, please drop a us message
            </p>
        </div>
    </div>
</div>