﻿<div class="row">
    <div class="col-md-12 col-xs-12">

        <h2>Plese enter your credentials to log-in</h2>
        <div class="row">

            <div class="col-md-6 col-xs-6">
                <p>
                    Enter your username (email) and password to access secret resources with your account.
                    Or <a href="#register">register</a> and create a account if you dont have one already.
                </p>
            </div>

            <div class="col-md-12 col-xs-12" ng-show="!isUserAlreadyLoggedIn">
                <div class="form-group">
                    <label class="label label-info">Username</label>
                    <input type="text" class="form-control" style="width: 200px;" data-ng-model="loginData.userName" placeholder="your email"/>

                    <label class="label label-info">Password</label>
                    <input type="password" class="form-control" style="width: 200px;" data-ng-model="loginData.userPassword" placeholder="your password" ng-keypress="loginUserByKeyPress($event)"/>
                </div>

                <input type="button" class="btn btn-info" value="Login!" ng-click="loginUser()"/>
            </div>

            <div class="col-md-12 col-xs-12" ng-show="isUserAlreadyLoggedIn">
                <div class="form-group">
                    <label class="label label-info">Username</label>
                    <input type="text" class="form-control" style="width: 200px;" disabled="disabled"/>

                    <label class="label label-info">Password</label>
                    <input type="password" class="form-control" style="width: 200px;" disabled="disabled"/>

                    You are already logged-in!
                </div>
            </div>

        </div>


    </div>
</div>