﻿<div class="row">
    <div class="col-md-12 col-xs-12">
        <h2>Register to access super-duper, cool stuff!</h2>

        <div class="row">
            <div class="col-md-6 col-xs-6">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis congue augue risus, non cursus
                    risus finibus id. Sed vel velit a enim condimentum porta faucibus id velit. Curabitur tristique ante vitae risus
                    semper tincidunt.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-xs-3">
                <div class="form-group">

                    <label class="label label-info">Username/Email</label>
                    <input type="text" class="form-control" style="width: 200px;" data-ng-model="registerNewUserModel.userName" placeholder="Email" tabindex="1" />

                    <label class="label label-info">First Name</label>
                    <input type="text" class="form-control" style="width: 200px;" data-ng-model="registerNewUserModel.firstName" placeholder="First Name" tabindex="2"/>


                    <label class="label label-info">Last Name</label>
                    <input type="text" class="form-control" style="width: 200px;" data-ng-model="registerNewUserModel.lastName" placeholder="Last Name" tabindex="3" />
                </div>
            </div>
            <div class="col-md-3 col-xs-3">


                <label class="label label-info">Password</label>
                <input type="password" class="form-control" style="width: 200px;" data-ng-model="registerNewUserModel.password" placeholder="Password" tabindex="4"/>

                <label class="label label-info">Confirm Password</label>
                <input type="password" class="form-control" style="width: 200px;" data-ng-model="registerNewUserModel.confirmPassword" placeholder="Confirm Password" tabindex="5" />

            </div>
        </div>

        <input type="button" role="button" class="btn btn-info" value="Register" ng-click="registerNewUser()" />
    </div>
</div>