﻿<div class="row">
    <div class="col-md-12 col-xs-12">
        <h2>Some dirty secrets here</h2>
        <p style="text-overflow: ellipsis; word-wrap: break-word;">
            V5ncPfbdEGyVeGCp84Vtqed7OTgozE6UzvdpZmEQ3eHAQM0y4E94aw7zRj8rKCn2+dCbtYG3njBBPHchMzQhE38tXqXZmmjtz0os
            Ax02OyEzMyGDcmSVjFa2Dl9093OmEvPRfyExMSGOestHGYbBhOlbEfe9P07f4O5CNS43Fy7rGuOWLAS2ccsl2QI2B/3QMQ8wwVpl
            GRqpxEuqVgeq9BpcNKlG8w6sQ8wwVplGRqpxEuqVgeq9WgkVrK0bkOyEzMyGMITEwIc8ZqeKa1DvvHHnwUrPqEDwqzoquEMIhMTA
            hGyEzOSEyoSEzMyHNqobhoFr/iExMyHRjvA/xnKF6HdOjbVmGjDiQxJqvYPaNCQDomOEdZ3bBN8hMzkhUmLtgzo4X7PQX5xr6oGb
            trmWDgiYvCEzNCGLy9nFvlIceCx7zYS3YhM1rEeQmtQDoOKi8chMTMhEW7d1vaOb64BpSjZbyUBF9iFzEGlw0qUbzDqxDzDBWmU
            ZGr6nES6pWB6r0Glw0qUbzDqxDzDBWmUZGr6nES6pWB6r7kHXb9FVoseDiEzNCEhMTAhySpoBbvgochyLuSBO1nKzDbjsaiWiEg
            bXyWb1/q4gNBERpWhqBOjTodkko5uTdyJverhXiExMiHINc41tcPSTsq9ITEwIVsyWa4uiffA38Vl2l2qSg9pVFsgXXXgd+2w9K
            kPkiCkyS
        </p>

        <div>
            <h2>Secrets</h2>

            <div>
                <h3>Filter result: </h3><input type="text" class="form form-control" style="width:200px;" ng-model="filter.filterByString"/>
            </div>

            <table class="table table-striped table-responsive table-hover">
                <thead>
                <tr>
                    <td>
                        <h4>Customer Id</h4>
                    </td>
                    <td>
                        <h4>First Name</h4>
                    </td>
                    <td>
                        <h4>Last Name</h4>
                    </td>
                    <td>
                        <h4>Mail</h4>
                    </td>
                    <td>
                        <h4>Admin?</h4>
                    </td>
                    <td>
                        <h4>Delete?</h4>
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="user in registredUsers | filter:filter.filterByString" class="trRegistredUsers">
                    <td>{{ user.Id }}</td>
                    <td>{{ user.FirstName }}</td>
                    <td>{{ user.LastName }}</td>
                    <td>{{ user.Mail }}</td>
                    <td>{{ user.IsAdmin }}</td>
                    <td>
                        <input class="btn btn-danger" type="button" value="Delete" ng-click="deleteUser(user.Mail, $event)"/>
                    </td>
                </tr>


                </tbody>
            </table>

            <input class="btn btn-info" type="button" value="Load" data-ng-click="getRegistredUsers($event)"/>

        </div>
    </div>
</div>