﻿<div class="row">
    <div class="col-md-12 col-xs-12">
        <h2>Hello, World!</h2>
        <div>
            <p>
               {{ welcomeMessage }}
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis congue augue risus, non cursus
                risus finibus id. Sed vel velit a enim condimentum porta faucibus id velit. Curabitur tristique ante vitae risus
                semper tincidunt. Sed pharetra, tortor vitae sollicitudin semper, sapien ante dapibus massa, vel ultricies magna
                nunc ut enim. Cras rutrum, diam at pretium porta, justo sapien porttitor erat, sit amet eleifend nulla massa
                ut lectus. Sed id erat vitae dolor sodales maximus quis quis mi. Donec volutpat diam et magna pulvinar, ut
                gravida nisl ultricies.
            </p>
        </div>
    </div>
</div>