﻿<!DOCTYPE html>
<html data-ng-app="teamFancyApp" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Fancy Pancy Login System</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
    <link rel="stylesheet" href="FancyTeamApp/Styles/fancyTeamStyle.css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,900,100italic,300,300italic,100,400italic,500,500italic,700,700italic&subset=latin,greek-ext" rel="stylesheet" type="text/css">

</head>
<body>
    <div id="navigation"></div>
<div class="container" style="margin-top: 55px; padding: 25px;">
    <div class="row" data-ng-controller="LoginController" ng-cloak>
        <div class="col-md-12 col-xs-12" style="margin-bottom: 55px;">

            <h1>Fancy Pancy Domain Login</h1>
            <h3 class="fancyTeamSlogan">(all your secrets are belong to us)</h3>
            <span class="loggedInSAsUser" style="float: left;" ng-model="loggedInUser">Logged in as: {{ currentLoggedInUser }}</span>

            <h3 style="text-align: right;">
                <span class="loggedInStatus" >Logged-in status: {{ isUserLoggedIn }}</span>
            </h3>

            <hr/>

            <div>
                <h2>Status</h2>
                <div class="divStatusBox" id="divStatusElement">
                    {{ currentStatus }}
                </div>
            </div>

            <div>
                <h2 class="selectYourTaskMenu">Select your task</h2>
                <a href="#start" class="btn btn-default">Start</a>
                <a href="#login" class="btn btn-success">Login</a>
                <a href="#register" class="btn btn-info">Register</a>
                <a href="#secrets" class="btn btn-danger" data-ng-click="tryingToAccessSecrets()">Secrets</a>
                <a href="" class="btn btn-warning" data-ng-click="logOutUser()">Logout</a>
            </div>

            <hr/>

            <div data-ng-view></div>

            <hr/>

            <h1>// TEAM Fancy</h1>

        </div>
    </div>

</div>





<script src="Scripts/jquery-2.1.4.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

<script src="Scripts/angular.js"></script>
<script src="Scripts/angular-route.js"></script>
<script src="Scripts/angular-animate.js"></script>
<script src="Scripts/angular-local-storage.js"></script>

<script src="FancyTeamApp/fancyTeamApp.js"></script>
<script src="FancyTeamApp/Factories/fancyFactory.js"></script>
<script src="FancyTeamApp/Controllers/fancyControllers.js"></script>
    <script>
    $(function () {
        $('#navigation').load('Navigation.html');
    });
    </script>
</body>
</html>