﻿body {
    font-family: 'Roboto';
    font-weight: 200;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    overflow-y: scroll;
}

@-moz-document url-prefix() {
    body {
        font-weight: 200;
    }
}

.fancyTeamSlogan {
    font-weight: 400;
    font-style: italic;
    margin-top: -5px;
}

h1 {
    font-size: 65px;
    font-weight: 200;
}

h2 {
    font-size: 35px;
}

.loggedInStatus {
    background-color: #5BC0DE;
    color: white;
    font-size: 34px;
    font-style: italic;
    opacity: 0.8;
    font-weight: 200;
}

.divStatusBox {
    font-size: 20px;
    border-style: dashed;
    border-color: #5BC0DE;
    border-width: 3px;
    padding: 15px;
}

span.loggedInSAsUser {
    font-size: 34px;
    font-style: italic;
    opacity: 0.5;
    margin-top: 10px;
}

p {
    font-size: 18px;
}
